@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}
::selection {
  background-color: $accent;
  color: $dark-grey;
}
input,
textarea {
  outline: none;
  border: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: $text;
}
.h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-top: 70px;
  margin-bottom: 70px;
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 28px;
  }
  &::after {
    content: '';
    background-color: rgba(#fff, .6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 2px;
  }
}
.h3 {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: $text;
  &:hover {
    text-decoration: none;
    color: $text;
  }
  &:active {
    text-decoration: none;
    color: $text;
  }
}
.button {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: 1px solid $accent;
  padding: 5px 10px;
  letter-spacing: .05em;
  color: $text;
  background-color: transparent;
  transition: all .25s ease;
  font-weight: 700;
  &:hover {
    background-color: $accent;
    color: $dark-grey;
  }
  &:active {
    border-color: darken($accent, 50%);
    background-color: darken($accent, 50%);
  }
}
.flex {
  display: flex;
}
.grid {
  display: grid;
  @include media-breakpoint-down(sm) {
    display: block;
    >* {
      width: 100%;
      margin: $gutter/2 0;
    }
  }
}
.bgImg {
  background-position: center;
  background-size: cover;
}
.h100vh {
  height: 100vh;
}
.overlay {
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
    background-color: $overlay-color;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


// Custom Scss / Remove before use

.header {
  align-items: center;
  background-color: $dark-grey;
  &__hamburger {
    display: block;
    display: none;
    margin-left: auto;
    margin-top: 3px;
    outline: none;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    background-image: url(../img/@2x/bg-top.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  &-nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    transition: all .4s ease;
    @include media-breakpoint-up(md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__content {
      @include media-breakpoint-down(sm) {
        width: 100%;
        display: none;
      }
    }
    &--scroll {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: rgba(#000, .92);
    }
    &__container {
      justify-content: space-between;
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__logo {
      padding: $gutter*0.5 $gutter;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      &:hover {
      text-decoration: none;
      color: #fff;
      }
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }
    &__item {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      position: relative;
      padding: $gutter*0.5 $gutter*0.5;
      margin-left: auto;
      margin-right: auto;
      max-width: 100px;
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        display: block;
      }
      &:hover {
        text-decoration: none;
        color: #fff;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 10px;
        height: 2px;
        opacity: 0;
        background-color: #fff;
        transition: all .4s ease;
      }
      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-composition {
    z-index: 1;
    text-align: center;
    &__h1 {
      font-size: 70px;
      @include media-breakpoint-down(md) {
        font-size: 56px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 40px;
        line-height: 1.8;
      }
      @include media-breakpoint-down(xs) {
        font-size: 28px;
        line-height: 2;
      }
    }
    &__info {
      font-weight: 600;
      font-size: 18px;
      padding-bottom: 20px;
      color: rgba(#fff, .92);
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
    &__social {
      display: flex;
      justify-content: center;
    }
    &__soc-icon {
      margin: 0 20px;
      font-size: 24px;
      color: rgba(#fff, .7);
      transition: color .4s ease;
      &:hover {
        transition: color .4s ease;
      }
      .icon-paper-plane {
        font-size: 20px;
      }
    }
  }
}
.svg {
  position: relative;
  margin-top: -120px;
  z-index: 2;
  fill: $light-grey;
  &--dark {
    fill: $dark_grey;
  }
}
.about {
  margin-top: -25px;
  position: relative;
  z-index: 2;
  background-color: $light-grey;
  padding-bottom: 120px;
  &__photo-box {
    border-radius: 5px;
    box-shadow: rgba(#fff, .2) 0px 0px 0px 2px inset;
    max-width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(sm) {
      max-width: 280px;
    }
  }
  &__text {
    padding-left: 70px;
    color: rgba($text, .8);
    text-align: justify;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      padding: 0 $gutter;
    }
  }
  &__photo {
    border-radius: 5px;
    background-color: #777;
    transform: matrix(1, 0, 0, 1, 24, 24);
    @include media-breakpoint-down(sm) {
      transform: none;
    }
  }
  &__avatar {
    border-radius: 5px;
  }
  &__my-name {
    font-size: 26px;
    margin-bottom: 0;
    line-height: 1.2;
    color: $text;
    @include media-breakpoint-down(xs) {
      font-size: 24px;
    }
  }
}
.skills {
  margin-top: -25px;
  position: relative;
  z-index: 2;
  background-color: $dark-grey;
  text-align: center;
  padding-bottom: 90px;
  &__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gutter;
  }
  &__icon {
    font-size: 56px;
    display: block;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }
  &__skill{
    font-size: 18px;
  }
  &__content {
    font-size: 15px;
    color: rgba($text, .8);
    margin-bottom: 60px;
  }
}
.portfolio {
  position: relative;
  z-index: 2;
  background-color: $light-grey;
  margin-top: -25px;
  padding-bottom: 140px;
  &__work-table {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gutter;
    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__work {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    background-color: rgba(#fff, 0.2);
    text-align: center;
    height: 250px;
    transition: all .3s ease;
    &-1 {
      background-image: url(../img/@1x/Beauty-saloon.jpg);
    }
    &-header {
      visibility: hidden;
      z-index: 3;
      font-weight: 700;
      font-size: 20px;
      opacity: 0;
      transition: all .3s ease;
    }
    &-info {
      visibility: hidden;
      z-index: 3;
      padding: 10px 0;
      font-weight: 500;
      color: rgba($text, .8);
      opacity: 0;
      transition: all .3s ease;
    }
    &-button {
      visibility: hidden;
      z-index: 3;
      font-weight: 500;
      color: rgba($text, .8);
      font-weight: 700;
      opacity: 0;
      transition: all .3s ease;
      &.disabled {
        border-color: $light-grey;
        color: $light-grey;
        cursor: default;
        &:hover {
        background-color: transparent;
        border-color: $light-grey;
        color: $light-grey;
        cursor: default;
      }
      }
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover {
      &::before {
        opacity: .7;
      }
      .portfolio__work-info {
        padding-bottom: 0;
        padding-top: 5px;
      }
      .portfolio__work-header, .portfolio__work-info, .portfolio__work-button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.contact {
  margin-top: -25px;
  position: relative;
  z-index: 3;
  background-color: $dark-grey;
  &__form {
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;
    &>:nth-child(5) {
      grid-column: 1/3;
    }
    &>:nth-child(6) {
      grid-column: 1/3;
    }
  }
  &__input {
    padding: 14px 18px;
    color: $dark-grey;
    font-weight: 500;
    &::selection {
      background-color: $light-grey;
      color: $accent;
    }
  }
  &__button {
    padding: 12px 30px;
    outline :none;
    border-radius: 10em;
    margin: 15px auto 70px;
    &:focus {
      outline :none;
    }
  }
}
.info {
  padding: 60px 0 60px;
  @include media-breakpoint-down (sm) {
    margin-top: -10px;
    padding: 20px 0 20px;
  }
  background-color: $light-grey;
  &__grid {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    >* {
      padding: $gutter*2 0;
    }
  }
  &__address {
    border-right: 1px solid rgba($text, .8);
    @include media-breakpoint-down(sm) {
      border-right: none;
      border-bottom: 1px solid rgba($text, .8);
    }
  }
  &__icon {
    font-size: 56px;
    margin-bottom: 20px;
  }
  &__header {
    font-size: 20px;
  }
  &__text {
    color: rgba($text, .7);
  }
}
.footer {
  background-color: #000;
  &__copyright {
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: rgba($text, .7);
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
  }
}
