@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}
::selection {
  background-color: #fff;
  color: $dark-grey;
}
input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: $text;
}
.bgImg {
  background-position: center;
  background-size: cover;
}
.h100vh {
  height: 100vh;
}
.overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: $overlay-color;
  }
}

// Custom Scss / Remove before use

.header {
  background-color: $dark-grey;
  &Nav {
    z-index: 1;
    &--container {
      justify-content: space-between;
      padding: 0 15px;
      display: flex;
      flex-direction: row;
    }
    &--logo {
      padding: $gutter*0.5 $gutter;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      &:hover {
      text-decoration: none;
      color: #fff;
      }
    }
    &--list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &--item {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: $gutter*0.5 $gutter;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}






.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.example-grid {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  > div:first-child {
    grid-area: left;
  }
  > div:last-child {
    grid-area: right;
  }
  @include media-breakpoint-down(xs) {
    display: block;
  }
}
.example-img {
  width: 100%;
}
.parent {
  // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}
